PORT=3030
VITE_API_URL=http://localhost:3030
VITE_SOCKET_URL=http://localhost:3030

# Supabase backend mode
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=

# Optional if luego conectas auth en cliente
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
